<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="../../../public/Css/Style.css" />

</head>

<body>
    <nav>
        <ul>
            <a href="/?pagina=entrar">
                <li>
                    Entrar
                </li>
            </a>
            <a href="/?pagina=Inicio">
                <li>Início</li>
            </a>


            <a href="/?pagina=registrar">
                <li>
                    Cadastrar-se
                </li>
            </a>
        </ul>
    </nav>

    <header class="container-fluid">
        <text>Isso é um cabeçalho</text>
    </header>

    <main class="container-fluid">
        <text>Isso é o conteúdo principal</text>
    </main>

    <footer class="container-fluid">
        <text>Isso é um rodapé</text>
    </footer>

</body>

</html>