<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="../../public/Css/Style.css" />
</head>
<body>
    <header>
        <text>Isso é um cabeçalho</text>
    </header>

    <nav>
        <text>Isso é um menu de navegaçãxzco</text>
</nav>

    <main>
        <text>Isso é o conteúdo principal</text>
</main>

    <footer>
        <text>Isso é um rodapé</text>
</footer>
</body>
</html>
