<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="../../../public/Css/Style.css" />

</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/?pagina=entrar">
                    <div class="head-navbar-login">
                        Entrar
                    </div>
                </a>
            </li>
            <li>
                <a href="/?pagina=inicio">
                    <div class="head-navbar-home">
                        Início
                    </div>
                </a>
            </li>
            <li>
                <a href="/?pagina=registrar">
                    <div class="head-navbar-register">
                        Cadastrar-se
                    </div>
                </a>
            </li>
        </ul>
    </nav>

</body>

</html>