<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    <link rel="stylesheet" href="../../../public/Css/Style.css" />

</head>

<body>
    <nav>
        <ul>
            <a href="/?pagina=entrar">
                <li>
                    Entrar
                </li>
            </a>
            <a href="/?pagina=Inicio">
                <li>Início</li>
            </a>


            <a href="/?pagina=registrar">
                <li>
                    Cadastrar-se
                </li>
            </a>
        </ul>
    </nav>

    <main>
        <form>
            <input type="text" name="usuario" id="usuario" placeholder="Usuário" required>
        </form>
        <form>
            <input type="password" name="usuario" id="usuario" placeholder="Senha" required>
        </form>
        <button>
            Entrar
        </button>
    </main>


</body>

</html>