<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    <link rel="stylesheet" href="../../../public/Css/Style.css" />

</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/?pagina=entrar">
                    <div class="head-navbar-login">
                        Entrar
                    </div>
                </a>
            </li>
            <li>
                <a href="/?pagina=inicio">
                    <div class="head-navbar-home">
                        Início
                    </div>
                </a>
            </li>
            <li>
                <a href="/?pagina=registrar">
                    <div class="head-navbar-register">
                        Cadastrar-se
                    </div>
                </a>
            </li>
        </ul>
    </nav>

    <main>
        <form action="/?pagina=usuario&acao=registrar" method="post">
            <input type="password" name="password" id="password" placeholder="Senha" required>
            <input type="password" name="password_confirmation" id="password_confirmation" placeholder="Repetir Senha" required>
            <input type="email" name="email" id="email" placeholder="E-mail" required>
            <input type="text" name="phone" id="email" placeholder="Telefone" required>
            <input type="text" name="name" id="email" placeholder="Nome Completo" required>
        </form>
        <button>
            Registrar-se
        </button>
    </main>


</body>

</html>